<header class="site-header">
	<a href="{{ site.baseurl }}/"><img src="{{ "/img/logo-liodi-small.png" | prepend: site.baseurl }}" alt="LiODi logo" />
	<h2>Linked Open Dictionaries</a></h2>
	<nav>
		<ul>
			<li><a href="{{ site.baseurl }}/about">About the Project</a></li>
			<li><a href="{{ site.baseurl }}/team">Team</a></li>
			<li><a href="{{ site.baseurl }}/data">Data</a></li>
			<li><a href="{{ site.baseurl }}/standards">Standards</a></li>
			<li><a href="{{ site.baseurl }}/solutions">Solutions</a></li>
			<li class="last"><a href="{{ site.baseurl }}/publications">Publications</a></li>
		</ul>
	</nav>
</header>
